body
{
	margin : 0;
	padding: 0;
	width  : 100%;

}
/*------start header----------*/
header
{
	width : 100%;
	height: 60px;
	background: #DDD;
}
/*------end header----------*/

/*------start horizontal menu ----------*/
ul 
{
	margin : 30;
	padding: 0;
	list-style-type: none;
	float : right;
	background: red
}
li 
{
	display : inline;
	padding : 10px;
}
/*------end horizontal menu ----------*/

/*------main--------------------------*/
main
{
	width : 60%;
	margin: 150px auto;
}
img 
{
	width  : 30%;
	display: block;
	margin-left :  auto;
	margin-right:  auto;
}

/*------end main----------------------*/

input {
	display : block;
	margin-left :  auto;
	margin-right:  auto;
	padding : 15px;
}

button
{
	
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  cursor: pointer;
  
}
.but1{
	width : 22%;
	margin-left: 20%;
}
.but2{
	width : 22%;
	margin-right: 20%
}







